* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
}

.todo-container {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: calc(100% - 100px);
  margin: 25px;
}

.todo-body {
  width: 700px;
  margin: 20px auto;
  min-height: 300px;
  max-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.header {
  width: 90%;
  background: #4a8daf;
  border-radius: 20px 20px 5px 5px;
  display: flex;
  /* height: 80px; */
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}
.download {
  background-color: white;
  border-radius: 50px;
  padding: 0.25em;
  margin-right: 10px;
  cursor: pointer;
  transition: all 200ms;
}

.icon {
  margin-left: 10px;
}

.icon,
.download {
  width: 40px;
  height: 40px;
}

.icon > img,
.download > img {
  width: 100%;
}

.list-container {
  background-color: white;
  width: 100%;
  min-height: 300px;
  max-height: 70vh;
  padding-top: 3em;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid #cccccc;
  margin: 0 auto;
  margin-top: -2rem;
  box-shadow: 0 60px 30px rgba(0, 0, 0, 0.2);
}

.list-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  margin-bottom: -1px;
}

.status-icon,
.action-icon {
  width: 35px;
  height: 35px;
  margin: 0 10px;
}

.content {
  flex: 4;
  margin: 0 1em 0 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.content h3 {
  color: #11a165;
  text-transform: capitalize;
}

.content p {
  color: #0b73a7;
  font-size: 90%;
}

.action {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.action-icon {
  margin-left: 1em;
  cursor: pointer;
  transition: all 200ms;
}

.action-icon:hover,
.add-button:hover,
.download:hover {
  filter: opacity(0.8);
}

.add-container {
  background-color: white;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #cccccc;
  margin-top: -1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.add-icon {
  width: 40px;
  height: 40px;
}

.title-input {
  flex: 1;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0 0.5em 0 1em;
}

.desc-input {
  flex: 2;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0 1em 0 0.5em;
}

.add-button {
  background-color: #00aaff;
  color: white;
  padding: 0.5em 0;
  flex: 1;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  transition: all 200ms;
}

.add-button[disabled='disabled'] {
  background-color: #cccccc;
  cursor: not-allowed;
}
